{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}
	<container>
		<h1>Bienvenue sur votre pannel de statistiques</h1>
		<p>Nombre de marker sur la carte :
		<strong>	{{ entityCount }} </strong> </p>
	</container>
{% endblock %}
